@charset "UTF-8";
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-main);
  background-color: #ffffff;
}

section {
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--item-off);
  background-color: var(--item-on);
  cursor: pointer;
  min-width: 200px;
  min-height: 50px;
  border: 1px solid var(--item-on);
  border-radius: 4px;
}

.main-btn:hover {
  background-color: #188ce8;
}

.backdrop {
  width: 100vw;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.418);
  position: fixed;
  top: 0;
  -webkit-transition: opacity 250ms, translate 250ms, visibility 250ms;
  transition: opacity 250ms, translate 250ms, visibility 250ms;
}

/* ------- Заголовки секций ------- */
.title-sections {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

:root {
  --title-color: #212121;
  --text-main: #757575;
  --text-footer: rgba(255, 255, 255, 0.6);
  --ico-footer: rgba(255, 255, 255, 0.1);
  --item-on: #2196f3;
  --item-off: #ffffff;
  --section-background: #e5e5e5;
  --section-bg: #2f303a;
  --bt-background: #f5f4fa;
  --head-line: #ececec;
  --portfolio-box: #eeeeee;
  --image-bg: #2f303a;
  --social-ico: #afb1b8;
}

/* ------- Обнуление стиля списков ------- */
.list li {
  list-style: none;
}

/* ------- Скрыть H1 др. элементы------- */
.title-hiden {
  display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

/* ------- Работа со ссылками ------- */
.link {
  text-decoration: none;
  color: var(--title-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--item-on);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------- Портфолио ------- */
.portfolio {
  padding-top: 95px;
  padding-bottom: 95px;
}

.portfolio__filter-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.portfolio__filter-box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__filter-box li:not(:last-child) {
  margin-right: 8px;
}

.portfolio__filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--title-color);
  background-color: var(--bt-background);
  border-width: 0;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__filter-btn:hover, .portfolio__filter-btn:focus {
  color: var(--item-off);
  background-color: var(--item-on);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__box .portfolio__text {
  padding: 20px 24px;
}

.portfolio__box li:nth-child(3n) {
  margin-right: 0px;
}

.portfolio__box li {
  margin: 0 27px 30px 0;
}

.portfolio__box ul {
  margin: 0 -30px -30px 0;
  border: -1px;
}

.portfolio__frame {
  border: 1px solid var(--portfolio-box);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__frame:hover {
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__frame:hover .portfolio__box-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__frame .portfolio__box-wrap {
  position: relative;
  margin: -1px;
  overflow: hidden;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.portfolio__destin {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio__box-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  color: var(--item-off);
  font-style: normal;
  font-weight: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  overflow: auto;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 95px;
  padding-bottom: 95px;
}

.values .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.values li {
  width: 270px;
}

.values li:not(:last-child) {
  margin: 0 30px 0 0;
}

.values__head {
  height: 120px;
  background-color: var(--bt-background);
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.values__sect {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.values__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.wedoing {
  padding-bottom: 95px;
}

.wedoing__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wedoing__item {
  position: relative;
}

.wedoing__head {
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px;
  color: var(--item-off);
  font-weight: 700;
  font-size: 14px;
  line-height: 0.88;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.member {
  background-color: var(--bt-background);
  padding: 95px 0 95px 0;
}

.member__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.member__box > li:not(:last-child) {
  margin-right: 30px;
}

.member__box > li {
  background-color: var(--item-off);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member__box h3 {
  margin-bottom: 10px;
}

.member__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.member__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.member__info-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.client-section {
  padding-bottom: 95px;
  padding-top: 95px;
}

.client-section__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.client-section__link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-ico);
  border-radius: 4px;
  padding: 16px 32px;
  display: inline-block;
  fill: var(--social-ico);
}

.client-section__link:hover, .client-section__link:focus {
  border-color: var(--item-on);
  fill: var(--item-on);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------- Отображение логотипа ------- */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-right: 95px;
}

.logo:hover {
  color: var(--title-color);
}

.logo span {
  color: var(--item-on);
}

/* ------- Меню навигации ------- */
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  border-bottom: 1px solid var(--head-line);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header:hover, .header:focus {
  color: var(--item-on);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__connect {
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__link.header__link-active::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--item-on);
  font-style: var(--item-on);
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
}

.header__link-active {
  color: var(--item-on);
}

.header__ico {
  margin-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacts {
  color: var(--text-main);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contacts:focus,
.header__contacts:hover .header__ico {
  fill: var(--item-on);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  background: var(--section-bg);
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero_bg.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero_bg.jpg);
  padding-bottom: 200px;
  padding-top: 200px;
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--item-off);
  margin-bottom: 30px;
}

.hero__content {
  display: flexbox;
}

footer .logo,
footer .logo:hover,
footer .logo:focus {
  color: var(--item-off);
}

.logo-bottom {
  margin-bottom: 20px;
}

.bg-footer {
  background: var(--section-bg);
  padding: 60px 0 60px 0;
}

.contact__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__address {
  margin-right: 70px;
}

.contact__location {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--item-off);
  text-decoration: none;
  font-style: normal;
}

.contact__social > h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 0.88;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--item-off);
  margin-bottom: 20px;
  margin-top: 12px;
}

address .link,
address .link:hover,
address .link:focus {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--text-footer);
}

address div {
  margin-bottom: 9px;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--item-off);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 27%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 1250px;
  transition: -webkit-transform 1250px;
  transition: transform 1250px;
  transition: transform 1250px, -webkit-transform 1250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(2.5) translate(-1500px);
          transform: scale(2.5) translate(-1500px);
  -webkit-transition: -webkit-transform 1250ms;
  transition: -webkit-transform 1250ms;
  transition: transform 1250ms;
  transition: transform 1250ms, -webkit-transform 1250ms;
}

.modal__btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.modal__btn:hover .modal__close-ico {
  fill: var(--item-on);
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-area {
  padding: 40px 40px 0 40px;
}

.modal__label {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-main);
  display: block;
}

.modal__heder {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 12px;
}

.modal__input {
  width: 448px;
  height: 40px;
  border: none;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus {
  border-color: var(--item-on);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus + .modal__input-icon {
  fill: var(--item-on);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input--text-area {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  font-size: 100%;
  line-height: 1.15;
  letter-spacing: 0.01em;
}

.modal__check {
  margin-right: 8px;
}

.modal__agree {
  width: 16px;
  height: 15px;
}

.modal__agree-link {
  color: var(--item-on);
}

.modal__text-check {
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__text-check::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  margin-right: 8px;
}

.modal__check:checked + .modal__text-check::before {
  background-image: url(../img/ico/check_on.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
}

.modal__agree-link {
  margin-left: 3px;
}

.modal__agree-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.modal__btn-send {
  margin-top: 30px;
}

.modal__bt-send {
  display: block;
  margin: 0 auto;
}

.modal__fild:not(:last-child) {
  margin-bottom: 10px;
}

.modal__input-wrap {
  position: relative;
}

.modal__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-label {
  margin-bottom: 4px;
}

.subscribe {
  margin-left: auto;
}

.subscribe > h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 0.88;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--item-off);
  margin-bottom: 20px;
  margin-top: 12px;
}

.subscribe__input {
  border: none;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--item-off);
  background-color: var(--item-on);
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  min-height: 50px;
  border: 1px solid var(--item-on);
  border-radius: 4px;
  margin-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe__btn:hover {
  background-color: #188ce8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__btn-ico {
  fill: var(--item-off);
  margin-left: 10px;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  width: 100%;
  height: 100%;
  background-color: var(--item-off);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--item-on);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon {
  fill: var(--social-ico);
}

.social__link:focus > .social__icon {
  fill: var(--item-off);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover > .social__icon {
  fill: var(--item-off);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link--footer {
  background-color: var(--ico-footer);
}
/*# sourceMappingURL=main.css.map */