:root {
  --title-color: #212121;
  --text-main: #757575;
  --text-footer: rgba(255, 255, 255, 0.6);
  --ico-footer: rgba(255, 255, 255, 0.1);
  --item-on: #2196f3;
  --item-off: #ffffff;
  --section-background: #e5e5e5;
  --section-bg: #2f303a;
  --bt-background: #f5f4fa;
  --head-line: #ececec;
  --portfolio-box: #eeeeee;
  --image-bg: #2f303a;
  --social-ico: #afb1b8;
}
