.sect-values {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}
.values-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.values-box {
  display: flex;
  justify-content: space-between;
  padding-top: 95px;
  padding-bottom: 95px;
}
.values-box .list {
  display: flex;
  justify-content: space-between;
}
.values-box li {
  width: 270px;
}
.values-box li:not(:last-child) {
  margin: 0 30px 0 0;
}

.values-head {
  height: 120px;
  background-color: var(--bt-background);
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
}
