footer .logo,
footer .logo:hover,
footer .logo:focus {
  color: var(--item-off);
}

.logo-bottom {
  margin-bottom: 20px;
}

.bg-footer {
  background: var(--section-bg);
  padding: 60px 0 60px 0;
}

.contact__box {
  display: flex;
}

.contact__address {
  margin-right: 70px;
}

.contact__location {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--item-off);
  text-decoration: none;
  font-style: normal;
}

.contact__social > h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 0.88;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--item-off);
  margin-bottom: 20px;
  margin-top: 12px;
}

address .link,
address .link:hover,
address .link:focus {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--text-footer);
}

address div {
  margin-bottom: 9px;
}
