.hero {
  background: var(--section-bg);
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero_bg.jpg);
  padding-bottom: 200px;
  padding-top: 200px;
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--item-off);
  margin-bottom: 30px;
}

.hero__content {
  display: flexbox;
}
