/* ------- Отображение логотипа ------- */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-right: 95px;
  &:hover {
    color: var(--title-color);
  }
}

.logo span {
  color: var(--item-on);
}
